<ion-card id="notificaciones-card21">
  <ion-list>
    <ion-item color="none" id="notificaciones-list-item3">
      <ion-icon name="alarm" item-left></ion-icon>
      <strong>{{task}}</strong>
    </ion-item>
    <ion-item id="notificaciones-list-item-container2">
      <div id="notificaciones-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          Deberías estar al
          <strong>
            50%
          </strong> con este trabajo
        </p>
      </div>
      <div id="notificaciones-markdown3" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          La fecha de entrega es:
          <strong>
            02/09/2018
          </strong>
        </p>
      </div>
    </ion-item>
    <button id="notificaciones-button2" ion-button color="primary" block>
      Ya terminé
    </button>
    <button id="notificaciones-button3" ion-button color="secondary" block>
      ¡Si! estoy a tiempo
    </button>
    <button id="notificaciones-button4" ion-button color="danger" block>
      No, llevo menos
    </button>
  </ion-list>
</ion-card>